body{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
:root{
    --text-gray:#c47272;
}

.main{
    width: 1200px;
}
.international{
    display: grid;
    grid-template-columns:600px 200px 200px 100px;
}
.inder{
    display: grid;
    grid-template-columns:50px 240px;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 18px;
    margin-top: 10px;
    height: 30px;
}
.inder>p{
    margin: 0;
    padding: 0;
 color: var(--text-gray);
 
}
.swether{
    display: grid;
    text-align: end;
    grid-template-columns:80px 100px;
    grid-gap:10px;
    
}
.swether-deg>span{
    font-size:28px;
    border-right: 1px solid #eee;
    padding-right: 10px;
    
}
.login{
    display: grid;
    grid-template-columns: 40px 20px 20px;
    grid-gap:5px;
    align-items: center;
}
